<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Edit a Hive Inspection </title>
  </head>
  <body>
    <h1> Edit a Hive Inspection </h1>

    <form action="/hives/<%= hive._id %>" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= hive.name %>">

      <label for="dateCreated">Date Created</label>
      <input type="number" name="dateCreated" id="dateCreated">

      <label for="comment">Comment</label>
      <textarea type="text" name="comment" id="comment"><%= hive.description %></textarea>

      <button type="submit">Update Hive</button>
    </form>

  </body>
</html>
