<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Inspection</title>
  </head>
  <body>
    <h1>  Inspection </h1>




    <form action="/hives/<%= oneHive %>/inspections" method="POST">

<div>
      <label for="dateInspected">Date Inspected</label>
      <input type="date" name="dateInspected" id="dateInspected">

      <label for="sighted"> Sighted </label>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-Queen'>Queen

      <label for="sighted"> Sighted </label>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-Eggs'>Eggs

      <label for="sighted"> Sighted </label>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-CappedBrood'>Capped Brood

      <label for="sighted"> Sighted </label>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-UncappedBrood'>Uncapped Brood
</div>

<div>
  <h3>Population</h3>
      <input type="radio" name="population" value="Heavy">Heavy

      <input type="radio" name="population" value="Moderate">Moderate

      <input type="radio" name="population" value="Low">Low
</div>

<div>
  <h3>Laying Pattern</h3>
  <input type="radio" name="layingPattern" value="Excellent">Excellent

  <input type="radio" name="layingPattern" value="Fair">Fair

  <input type="radio" name="layingPattern" value="Poor">Poor
</div>

<div>
  <h3>Odor</h3>
  <input type="radio" name="odor" value="Sweet">Sweet

  <input type="radio" name="odor" value="Foul">Foul

  <input type="radio" name="odor" value="Fermented">Fermented
</div>

<div>
    <h3>Sighted</h3>
      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="sighted" id="sighted" values='American Foulbrood'>American Foulbrood

      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-Eggs'>Eggs

      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-CappedBrood'>Capped Brood

      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="sighted" id="sighted" values='Sighted-UncappedBrood'>Uncapped Brood
</div>

<div>
  <h3>Feeding Stores</h3>
  <input type="radio" name="feedingStores" value="Heavy">Heavy

  <input type="radio" name="feedingStores" value="Moderate">Moderate

  <input type="radio" name="feedingStores" value="Low">Low
</div>

<div>
    <h3>Disease & Pests</h3>
      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="diseasesPests" id="diseasesPests" values='American Foulbrood'>American Foulbrood

      <%# <label for="diseasesPests"> Sighted </label>%>
      <input type="checkbox" name="diseasesPests" id="diseasesPests" values='Nosema'>Nosema

      <%# <label for="diseasesPests"> Sighted </label>%>
      <input type="checkbox" name="diseasesPests" id="diseasesPests" values='Small Hive Beetle'>Small Hive Beetle

      <%# <label for="diseasesPests"> Sighted </label>%>
      <input type="checkbox" name="diseasesPests" id="diseasesPests" values='Varroa Mite'>Varroa Mite
</div>

<div>
    <h3>Tasks for Next Inspection</h3>
      <%# <label for="sighted"> Sighted </label>%>
      <input type="checkbox" name="typeOfInspection" id="typeOfInspection" values='Inspect for Ailments'>Inspect for Ailments

      <%# <label for="typeOfInspection"> Sighted </label>%>
      <input type="checkbox" name="typeOfInspection" id="typeOfInspection" values='Laying Pattern'>Laying Pattern

      <%# <label for="typeOfInspection"> Sighted </label>%>
      <input type="checkbox" name="typeOfInspection" id="typeOfInspection" values='Regular Inspection'>Regular Inspection
</div>

      <label for="notes">Notes</label>
      <textarea name="notes" rows="3" cols="80"></textarea>

      <button type="submit">Submit Inspection</button>
    </form>

  </body>
</html>
