<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Inspection</title>
  </head>
  <body>
    <h1> <%= hive.name %> Inspection </h1>

    <% if (errorMessage) { %>
      <p class="error"> <%= errorMessage %> </p>
    <% } %>

    <% if (typeof errors !== 'undefined') { %>
      <% for (let errorField in errors) { %>
        <div> <%= errors[errorField].message %> </div>
      <% } %>
    <% } %>

    <form action="/hives/<%= hive._id %>/inspections" method="POST">

      <label for="dateInspected">Date Inspected</label>
      <input type="date" name="dateInspected" id="dateInspected">


      <label for="sighted"> Sighted </label>
      <input type="radio" name="sighted" id="sighted" values='Queen'>

      <label for="sighted"> Sighted </label>
      <input type="radio" name="sighted" id="sighted" values='Eggs'>

      <label for="sighted"> Sighted </label>
      <input type="radio" name="sighted" id="sighted" values='Capped Brood'>

      <label for="sighted"> Sighted </label>
      <input type="radio" name="sighted" id="sighted" values='Uncapped Brood'>




      <label for="notes">Notes</label>
      <textarea name="notes" rows="3" cols="80"></textarea>

      <button type="submit">Submit Inspection</button>
    </form>

    <input type="radio" name="sighted" value="male">



    population:    {type: String, possibleValues: ['Heavy','Moderate','Low']},
    layingPattern: {type: String, possibleValues: ['Excellent','Fair', 'Porr']},
    odor:          {type: String, possibleValues: ['Sweet','Foul', 'Fermented']},

    diseasesPests: {type: String, possibleValues: ['American Foulbrood','Nosema', 'Small Hive Beetle', 'Varroa Mite']},

    feedingStores: {type: String, possibleValues: ['Heavy','Moderate','Low']},

    toDo: {
      typeOfInspection: {type: String, possibleValues: [
        'Regular inspection','Inspect for weakness','Check queen laying pattern', 'Check queen cells']},
      dateCreated: Date,




  </body>
</html>
