    <div>
      <h1> New Inspection </h1>
      <a href="/hives/<%= oneHive %>/inspections" class="link-btn btn btn-default">Go back to Inspections</a>
    </div>

<form action="/inspections/<%= oneHive %>" method="POST" class="new-inspection-container">
  <div class="notes col-md-3">
    <h2>Date of Inspection</h2>      <div class="input-group ">
      <input
        type="date" class="form-control"
        aria-describedby="basic-addon2"
        name="dateInspected">
      <span type class="input-group-addon" id="basic-addon2" ></span>
    </div>
  </div>

  <div class="notes col-md-3">
    <h2>Add a Note</h2>      <div class="input-group ">
      <input
        type="type" class="form-control"
        aria-describedby="basic-addon2"
        name="note">
      <span class="input-group-addon" id="basic-addon2" >Add Note</span>
    </div>
  </div>

  <div class="toDo col-md-3">
    <h2>Add a To Do</h2>
    <div class="input-group">
      <input
        type="text" class="form-control"
        aria-describedby="basic-addon2"
        name="toDo">
      <span class="input-group-addon" id="basic-addon2">Add a To Do</span>
    </div>
  </div>

  <div class="images col-md-3">
    <h2>Add an Image</h2>
      <div class="input-group">
        <input
          type="text" class="form-control"
          aria-describedby="basic-addon2"
          name="iamge">
        <span class="input-group-addon" id="basic-addon2">Add an Image</span>
      </div>
  </div>

  <button type="submit" class="green-btn freekin-submit-btn btn btn-default">Submit</button>
</form>
