<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Inspection</title>
  </head>
  <body>
    <h1>  Inspection </h1>

    <% if (errorMessage) { %>
      <p class="error"> <%= errorMessage %> </p>
    <% } %>

    <% if (typeof errors !== 'undefined') { %>
      <% for (let errorField in errors) { %>
        <div> <%= errors[errorField].message %> </div>
      <% } %>
    <% } %>

    <div class="notes col-md-4">
      <h2>Add a Note</h2>      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Add Note</span>
      </div>
    </div>

    <div class="toDo col-md-4">
      <h2>Add a To Do</h2>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Add a To Do</span>
      </div>
    </div>

    <div class="images col-md-4">
      <h2>Add an Image</h2>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Add an Image</span>
        </div>
    </div>

  </body>
</html>
