<!DOCTYPE html>
<html>
  <head>
    <title>Add a New Hive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a New Hive</h1>

<%# Deleted errorMessage. Incorporate later.%>

    <form action="/hives" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="dateCreated">DateCreated </label>
      <input type="Date" name="dateCreated" id="dateCreated">

      <label for="comment">Comment</label>
      <textarea type="text" name="comment" id="comment"></textarea>

      <%# <label for="image-url">Image URL</label>
      <input type="text" name="imageUrl" id="image-url">%>

      <button type="submit">Create Hive</button>
    </form>

    <a href="/hives"> Go Back to Hives </a>

  </body>
</html>
