<!DOCTYPE html>
<html>
  <head>
    <title>Add a New Hive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a New Hive</h1>

    <% if (errorMessage) { %>
      <p class="error"> <%= errorMessage %> </p>
    <% } %>

    <% if (typeof errors !== 'undefined') { %>
      <% for (let errorField in errors) { %>
        <div> <%= errors[errorField].message %> </div>
      <% } %>
    <% } %>

    <form action="/hives" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="dateCreated">Date Created</label>
      <input type="Date" name="dateCreated" id="dateCreated">

      <%# <label for="image-url">Image URL</label>
      <input type="text" name="imageUrl" id="image-url">%>

      <label for="comment">Description</label>
      <textarea type="text" name="comment" id="comment"></textarea>

      <button type="submit">Create Product</button>
    </form>

    <a href="/hives"> Go Back to Hives </a>

  </body>
</html>
